@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: flex!important; /* Thay vì grid */
    height: auto !important;
    width: 100% !important;
	  flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background: #F3E9E9;
    padding-top: 0px !important; /* Tạo khoảng cách với navbar */
    margin: 10 !important;  
	place-content: center;
	color :#f7b6c7
}
.flipbook {
    width: 1000px;
    height: 600px;
}

.flipbook .hard {
    background:#acb6e5 !important;
    color: #fff;
    font-weight: bold;
	font-size: 20pt;
	
    border: none; 
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 100%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 0px;
}

.bottom-spacing {
    height: 100px !important; /* Khoảng trống cuối trang */
    width: 100% !important;
    display: block !important;
}


.bottom-spacing p {color: #F3E9E9}
